# Auto detect text files and perform LF normalization
* text=auto
data/stage/witchsmokingroom.ssf filter=lfs diff=lfs merge=lfs -text
data/character/baki.ssf filter=lfs diff=lfs merge=lfs -text
data/character/gogitovgt.ssf filter=lfs diff=lfs merge=lfs -text
